-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: company_system
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `sales_budgets`
--

DROP TABLE IF EXISTS `sales_budgets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sales_budgets` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `branch_id` bigint unsigned NOT NULL,
  `ethiopian_month` tinyint unsigned NOT NULL,
  `ethiopian_year` smallint unsigned NOT NULL,
  `fiscal_year_id` bigint unsigned DEFAULT NULL,
  `fiscal_month_id` bigint unsigned DEFAULT NULL,
  `sales_amount` decimal(15,2) DEFAULT NULL,
  `prev_expense_budget` decimal(15,2) NOT NULL DEFAULT '0.00',
  `created_by` bigint unsigned NOT NULL,
  `updated_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `sales_budgets_branch_id_ethiopian_month_ethiopian_year_unique` (`branch_id`,`ethiopian_month`,`ethiopian_year`),
  KEY `sales_budgets_created_by_foreign` (`created_by`),
  KEY `sales_budgets_updated_by_foreign` (`updated_by`),
  KEY `sales_budgets_fiscal_year_id_foreign` (`fiscal_year_id`),
  KEY `sales_budgets_fiscal_month_id_foreign` (`fiscal_month_id`),
  CONSTRAINT `sales_budgets_branch_id_foreign` FOREIGN KEY (`branch_id`) REFERENCES `branches` (`id`) ON DELETE CASCADE,
  CONSTRAINT `sales_budgets_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `sales_budgets_fiscal_month_id_foreign` FOREIGN KEY (`fiscal_month_id`) REFERENCES `fiscal_months` (`id`) ON DELETE SET NULL,
  CONSTRAINT `sales_budgets_fiscal_year_id_foreign` FOREIGN KEY (`fiscal_year_id`) REFERENCES `fiscal_years` (`id`) ON DELETE CASCADE,
  CONSTRAINT `sales_budgets_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sales_budgets`
--

LOCK TABLES `sales_budgets` WRITE;
/*!40000 ALTER TABLE `sales_budgets` DISABLE KEYS */;
INSERT INTO `sales_budgets` VALUES (21,130068,2,2018,4,38,13114.00,0.00,755,NULL,'2026-07-03 06:30:08','2026-07-03 06:30:08'),(22,130068,1,2018,4,37,243535.00,0.00,755,NULL,'2026-07-03 06:36:17','2026-07-03 06:36:17'),(23,33,10,2018,4,46,23876328764.98,0.00,755,NULL,'2026-07-03 06:40:01','2026-07-03 06:40:01'),(25,130068,4,2018,4,40,1254721548.00,0.00,755,NULL,'2026-07-03 06:57:31','2026-07-03 06:57:31'),(26,130068,8,2018,4,44,124215.00,0.00,755,NULL,'2026-07-03 06:58:18','2026-07-03 06:58:18'),(27,46,8,2018,4,44,123214.00,0.00,755,NULL,'2026-07-03 06:58:18','2026-07-03 06:58:18');
/*!40000 ALTER TABLE `sales_budgets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sales_budget_logs`
--

DROP TABLE IF EXISTS `sales_budget_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sales_budget_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `sales_budget_id` bigint unsigned DEFAULT NULL,
  `branch_name` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ethiopian_month` tinyint unsigned DEFAULT NULL,
  `ethiopian_year` smallint unsigned DEFAULT NULL,
  `user_id` bigint unsigned NOT NULL,
  `action` enum('created','updated','deleted') COLLATE utf8mb4_unicode_ci NOT NULL,
  `old_sales_amount` decimal(15,2) DEFAULT NULL,
  `new_sales_amount` decimal(15,2) DEFAULT NULL,
  `old_prev_expense` decimal(15,2) DEFAULT NULL,
  `new_prev_expense` decimal(15,2) DEFAULT NULL,
  `notes` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `sales_budget_logs_user_id_foreign` (`user_id`),
  KEY `sales_budget_logs_sales_budget_id_foreign` (`sales_budget_id`),
  CONSTRAINT `sales_budget_logs_sales_budget_id_foreign` FOREIGN KEY (`sales_budget_id`) REFERENCES `sales_budgets` (`id`) ON DELETE SET NULL,
  CONSTRAINT `sales_budget_logs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sales_budget_logs`
--

LOCK TABLES `sales_budget_logs` WRITE;
/*!40000 ALTER TABLE `sales_budget_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `sales_budget_logs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-03 13:01:08
